@import "../../scss/main.scss";
@import "./components/chatList/chatList.scss";
@import "./components/chatPreview/chatPreview.scss";
@import "./components/msgFeed/msgFeed.scss";
@import "./components/msgContainer/msgContainer.scss";
@import "./components/modal/modal.scss";
@import "./components/chatTitle/chatTitle.scss";
@import "./components/dropdown/dropdown.scss";

.chat-page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
