@import "../../scss/main.scss";

.profile-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.profile__nav {
  width: 64px;
  height: 100%;
  background: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid $middle-grey;
}

.profile__back-btn {
  width: 32px;
  height: 32px;
  text-align: center;
  border: none;
  background-color: transparent;
  padding-left: 10px;
}

.profile__main {
  width: 100%;
}

.profile__data {
  width: 510px;
  min-height: 350px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.profile__avatar{
  text-align: center;
  padding-bottom: 20px;
}

.profile__name{
  text-align: center;
  font-size: x-large;
  margin-bottom: 30px;
}

.profile__input {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccbcb;

  label {
    width: 200px;
    line-height: 33px;
    font-size: 13px;
    font-weight: 500;
    word-wrap: normal;
    white-space: nowrap;
  }

  input {
    width: 100%;
    text-align: right;
    border-color: transparent;
    height: 33px;
    color: $grey;
  }
}

.profile__btn-box {
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}

.profile__btn {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccbcb;
  background-color: transparent;
  height: 33px;
  text-align: left;
  padding: 0;
  color: $green;
}

.btn-change:hover {
  color: $green-hover;
}

.btn-exit:hover {
  color: $red;
}