<div class="chat-preview">
  <div class="chat-preview__avatar">
    <img src="../../../static/img/no_img_circle.svg">
  </div>
  <div class="chat-preview__content">
    <div class="chat-preview__chat-name">{{name}}</div>
    <div class="chat-preview__last-msg">{{lastMsg}}</div>
  </div>
  <div class="chat-preview__aside">
    <div class="chat-preview__last-msg-time">{{time}}</div>
  </div>
</div>
