@import "../../scss/main.scss";

.error-page-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-page {
  text-align: center;
}

.error-page__code {
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 15px;
}

.error-page__msg {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 60px;
}

.error-page__back-link {
  font-size: 11px;
  color: $green;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in;

  &:hover {
    color: $green-hover;
  }
}
